QTNETWORKCHAT_IMAGE=ghcr.io/ziyue67/qtnetworkchat-server
QTNETWORKCHAT_TAG=latest
QQNT_PUBLIC_PORT=9443
QQNT_HEALTH_PORT=8080

REDIS_PASSWORD=replace-with-a-long-random-password
POSTGRES_DB=qtnetworkchat
POSTGRES_USER=qqnt
POSTGRES_PASSWORD=replace-with-another-long-random-password
